[package]
name = "dashcore-rpc-json"
version = "0.15.0"
authors = [
    "Steven Roose <steven@stevenroose.org>",
    "Jean Pierre Dudey <jeandudey@hotmail.com>",
    "Dawid Ciężarkiewicz <dpc@dpc.pw>"
]
license = "CC0-1.0"
homepage = "https://github.com/dashevo/rust-dashcore/"
repository = "https://github.com/dashevo/rust-dashcore/"
description = "JSON-enabled type structs for dashcore-rpc crate."
keywords = [ "crypto", "dash", "dashcore", "rpc" ]
readme = "README.md"

[lib]
name = "dashcore_rpc_json"
path = "src/lib.rs"

[dependencies]
serde = { version = "1.0.132", features = ["derive"] }
serde_json = { version="1.0", features=["preserve_order"] }
serde_with = "2.1.0"

dashcore = { git="https://github.com/dashevo/rust-dashcore", features=["no-std", "secp-recovery", "rand", "signer"], default-features = false, branch="master" }
